force-app/main/default/flows/Oportunidad_de_renovaci_n.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Actualizar_campos_de_oportunidad</name>
        <label>Actualizar campos de oportunidad</label>
        <locationX>211</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ninetyDayss</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Duplicar_una_oportunidad</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Actualizar_producto_de_oportunidad</name>
        <label>Actualizar producto de oportunidad</label>
        <locationX>711</locationX>
        <locationY>51</locationY>
        <assignmentItems>
            <assignToReference>oppProduct_loop.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppProduct_loop.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Agregar_a_nueva_colecci_n</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Agregar_a_nueva_colecci_n</name>
        <label>Agregar a nueva colección</label>
        <locationX>716</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>oppProducts_new</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oppProduct_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterar_en_productos</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ninetyDayss</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <interviewLabel>Oportunidad de renovación {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Oportunidad de renovación</label>
    <loops>
        <name>Iterar_en_productos</name>
        <label>Iterar en productos</label>
        <locationX>517</locationX>
        <locationY>52</locationY>
        <assignNextValueToReference>oppProduct_loop</assignNextValueToReference>
        <collectionReference>oppProducts_Original</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Actualizar_producto_de_oportunidad</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Duplicar_productos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Duplicar_productos</name>
        <label>Duplicar productos</label>
        <locationX>247</locationX>
        <locationY>362</locationY>
        <inputReference>oppProducts_new</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Duplicar_una_oportunidad</name>
        <label>Duplicar una oportunidad</label>
        <locationX>356</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>Iterar_en_productos</targetReference>
        </connector>
        <inputReference>opportunity</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Actualizar_campos_de_oportunidad</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppProduct_loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProducts_new</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProducts_Original</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
